#about_section {
    background-color: rgba(0, 0, 0);
    height: 100vh;
    width: 100vw;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

body {
    overflow-x: hidden;
}

#landing_text {
    /* border: 1px solid red; */
    min-width: 60vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aqua;
    font-size: 20px;
    font-family: cursive;
}

.btn {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_tag {
    font-size: 96px;
    background: linear-gradient(to right, #00c3ff, #ffff1c);
    background: linear-gradient(60deg, #ff00cc, #5d5dec);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn button {
    width: max-content;
    height: auto;
    margin: 1rem 2rem;
    padding-block: 5;
    padding-inline: 10px;
    background-color: transparent;
    border: 1px solid aqua;
    border-radius: 5px;
    outline-style: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    color: aqua;
    text-align: center;
}

.btn button:hover {
    color: black;
    transform: scale(1.1);
    background-color: aqua;
}
#mark{
    position:absolute;
    bottom: 5px;
    min-height: 4vh ;
    min-width: 100vw;
    background-color:transparent;
    font-size: 24px;
    color: antiquewhite;
    text-align: center;
    background: linear-gradient(60deg, #ff00cc, #5d5dec);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: linear-gradient(to right, #fc5c7d, #6a82fb); */
}
#mark marquee{
    min-height: 4vh ;
  
} 

@media screen and (max-width: 1024px) {
    #about_section {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    #about_section {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        text-align: center;
        padding: 0 15px;
        font-size: 2rem;
    }

    .my_tag {
        font-size: 50px;
    }

    .btn {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .btn button {
        width: max-content;
        height: max-content;
        font-size: 14px;
        padding: 5px;
        margin: 1px 10px;
    }
}

@media screen and (max-width: 426px) {
    #about_section {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-align: center;
        padding: 0;
        font-size: 2rem;
    }

    .btn {
        width: 50%;
        height: max-content;
        padding: 20px;
        /* outline: 1px solid red;   */
        margin-top: 15px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .btn button {
        /* width: max-content; */
        width: 100% !important;
        height: max-content;
        font-size: 16px;
        padding: 5px;
        margin: 10px;
    }

    #landing_text {
        min-width: 100vw;
        max-width: 98vw;
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 0;
    }

    .my_tag {
        font-size: 40px !important;
    }
    #mark{
        padding:10px;
        /* text-align: j; */
    }
}