.achivements_container{
    width: 50%;
    height: max-content;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    color: aliceblue;
    border-radius: 10px;
    padding: 20px 15px;
    margin-block: 2.5rem;
}
.achivemets{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    width: 90%;
    border-radius: 15px;
    margin: 1rem;
}

.sessions .li .time{
    font-size: 1.4rem;
}
.sessions .li p{
    font-size: 1.3rem;
    letter-spacing: 1px;
}
@media (max-width:688px){
    .achivements_container{
        width: 90%;
        padding: 0;
    }
    .achivemets{
        background-color:transparent;
        padding: 1rem;
    }
    .sessions .li .time{
        font-size: 1rem;
    }
    .sessions .li p{
        font-size: 1rem;
        letter-spacing: 1px;
    }
}