    #contactPage {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 40px;
        color: aqua;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: 0px solid red;
    }

    #contactPage h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-block: 1rem;
    }

    form {
        /* height: ; */
        /* background-color: rgba(255, 255, 255, 0.086); */
        border: 2px solid snow;
        width: 30vw;
        padding: 35px;
        border-radius: 12px;
    }

    form label {

        font-size: 1.5rem;
    }

    form input, textarea {

        resize: none;
        width: 100%;
        border: none;
        padding: 8px 15px;
        caret-color: aqua;
        background-color: rgba(255, 255, 255, 0.1);
        color: snow;
        border-radius: 10px;
        margin: 0.8rem 0;
    }

    form input, textarea:focus {
        outline: none;

    }

    #sendMSg {
        border: 1px solid snow;
        border-radius: 8px;
        padding: 10px;
        width: max-content;
        height: auto;
        background-color: transparent;
        color: aqua;

        transition: all 0.2s ease-in-out;
    }

    #sendMSg:hover {
        background-color: aqua;
        color: black;
        border: 1px solid transparent;
    }

    @media (max-width:768px) {
        form {
            width: 70vw;
            height: auto;
        }
    }

    @media (max-width:500px) {
        form {
            width: 90vw;
            padding: 15px;
            height: max-content;
        }

        #sendMSg {
            border: 1px solid snow;
            border-radius: 8px;
            padding: 10px;
            width: max-content;
            height: auto;
            background-color: transparent;
            color: aqua;
            transition: all 0.2s ease-in-out;
            margin-bottom: 15px;
        }

        form input, textarea {
            padding: 10px;
            ;
        }

    }