.cont {
    /* background: red; */
    height: fit-content;
    margin: auto;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    /* border: 1px/ solid green; */
}

.cont .img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid aliceblue;
}

.cont .text {
    width: 65%;
    padding: 30px;
    text-align: justify;
    color: aqua;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 10px;

}

@media (max-width:770px) {

    .cont {
        flex-direction: column;
        padding: 20px;
    }

    .cont .text {
        width: 100%;
        padding: 15px;
        font-size: 1.2rem;
    }

}