.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    min-height: max-content;
    /* background-color: rgba(255, 255, 255, 0.2); */
    z-index: 2;
    backdrop-filter: blur(10px);
    /* border-bottom: 1px solid lightgray; */
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.wrapper .left {
    font-size: 2rem;
    color: aqua;
    flex: 1;

}

.wrapper .right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.wrapper .hamburger {
    display: none;
}

.wrapper .right ul {
    display: flex;
}

.wrapper .right ul li {
    margin-right: 15px;
}

.wrapper .right ul li a {
    font-size: 1.5rem;
    color: aqua;
}

.mobilenav {
    display: none;
}

@media (max-width:768px) {
    .navbar {
        backdrop-filter: blur(5px);
    }

    .wrapper {
        display: flex;
        justify-content:flex-end;
    }

    .wrapper .left {
        flex: 0;
    }

    .wrapper .right {
        display: none;
    }

    .wrapper .hamburger {
        display: block;
        height: 32px;
        width: 45px;
        z-index:9999;
    }

    .hamburger .line1, .line2, .line3 {
        margin-top: 6px;
        position: relative;
        background-color: aqua;
        height: 2px;
        width: 52%;
        z-index: 5;
        transform-origin: left;
        transition: all .5s ease;
    }
    .hamburger .line2{
        opacity: 0;
    }
    .mobilenav {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 7.9vh;
        left: -100%;
        background-color: black;
        transition: all 0.5s ease;
        z-index: 4;
        padding: 45px 25px;
    }

    .mobilenav .item {
        width: 60%;
        height: 0%;
        font-size: 1.8rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: aqua;
        /* background-color:rgba(255, 255, 255, 0.2); */
        border-radius: 10px;
        /* margin: 5px ; */
    }


    /* .hamburger .line1  {
        transform: rotate(45deg);
    } */
    /* 
    .hamburger .line2 {
        opacity: 0;
    }

    .hamburger .line3 {
        transform: rotate(-45deg);
    } */
}