nav {
    background-color: transparent;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(5px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    background-color: var(--color-light);
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    color: aliceblue;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background-color: var(--color-bg);
}

@media screen and (max-width: 768px) {
    nav {
        bottom: 2rem;
    }
}

@media screen and (max-width: 426px) {
    nav {

        bottom: 1rem;
    }
}

@media screen and (max-width: 361px) {
    nav {
        bottom: 1rem;
        padding: 0.5rem 1.7rem;

    }

    nav a {
        padding: 0.3rem;
    }
}