* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Baloo Bhaijaan 2', cursive;
  scroll-behavior: smooth;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-varient: #2c2c6c;
  --color-primary: #4dbdff;
  --color-primary-varient: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --colorr-light: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(61, 61, 61, 0.637);
}

::-webkit-scrollbar-thumb {
  background: rgba(175, 175, 175, 0.637);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 102, 102, 0.637);
}

::-webkit-scrollbar-track:horizontal {
  height: 10px;
}

body {
  background-color: #191627;
  overflow-x: hidden;

}