.project {
    position: relative;
    height: max-content;
    padding: 50px;
    text-align: center;
    color: aqua;
}

.projectheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectheader>button {
    background-color: transparent;
    border: none;
    color: white;
    border: 1px solid aqua;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0 25px;
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;
}

.projectheader>button:hover {
    background-color: aqua;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.projectContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    height: inherit;
    padding: 20px 0;
}

.card {
    width: auto;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
    padding: 10px;
}

.card:hover {
    transform: scale(1.1);
}

.card>button {
    width: 30%;
    font-size: 1rem;
    padding: 2px;
    background-color: aqua;
    border: none;
    border-radius: 5px;
}

.card button a {
    text-decoration: none;
    color: #000;
}

.card img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .projectContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {

    .projectheader h1 {
        font-size: 1.3rem;
    }

    .projectheader button {
        font-size: 0.9rem;
        padding: 0.1rem 0.3rem;
    }

    .projectContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 7%;
    }

    .card>button {
        width: 40%;
        font-size: 1rem;
        padding: 2px;
        background-color: aqua;
        border: none;
        border-radius: 5px;
    }

}